
<div data-name="list" class="list">
  <div class="item">
    <%= image_tag "missing.png" %>
    <div>
      <span class="subject">Hi there ...</span>
      <span class="body">Secondary line of text runs full width</span>
      <span class="timestamp">7:42 pm</span>
    </div>
  </div>

  <div class="item current">
    <%= image_tag "missing.png" %>
    <div>
      <span class="subject">Hi there ...</span>
      <span class="body">Secondary line of text runs full width</span>
      <span class="timestamp">7:42 pm</span>
    </div>
  </div>
  
  <div class="item">
    <%= image_tag "missing.png" %>
    <div>
      <span class="subject">Hi there ...</span>
      <span class="body">Secondary line of text runs full width</span>
      <span class="timestamp">7:42 pm</span>
    </div>
  </div>
  
  <div class="item">
    <%= image_tag "missing.png" %>
    <div>
      <span class="subject">Hi there ...</span>
      <span class="body">Secondary line of text runs full width</span>
      <span class="timestamp">7:42 pm</span>
    </div>
  </div>
</div>

<div class="vdivide"></div>

<div class="main">
  <ul class="options">
    <li>Reply</li>
    <li>Forward</li>
    
    <div class="right">
      <li>Previous</li>
      <li>Next</li>
    </div>
  </ul>
    
  <div class="emails">
    <div class="item edit">
      <%= image_tag "missing.png" %>
      <div class="arrow"></div>
      <ul class="editControls" data-name="editControls">
        <li><a href="#" data-type="bold">Bold</a></li>
        <li><a href="#" data-type="italic">Italic</a></li>
        <li><a href="#" data-type="link">Link</a></li>
        <li><a href="#" data-type="list">List</a></li>
        <li><a href="#" data-type="attachment">Attachment</a></li>
        
        <div class="right">
          <li><a href="#" class="default">Send</a></li>
        </div>
      </ul>
      <div class="body">
        <div class="editArea" data-name="editArea">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    
    
    <div class="item">
      <%= image_tag "missing.png" %>
      <div class="arrow"></div>
      <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="timestamp">7:42 pm</div>
    </div>
  
    <div class="subject">
      Change of subject
    </div>
    
    <div class="item right">
      <%= image_tag "missing.png" %>
      <div class="arrow"></div>
      <div class="body">

        <p>So great to here from you. I saw from the calender that you would be moving on to Coffee Bay at the end of the week so hope we have caught you in time as you say that there is no internet We will see if we can find any one in Singapore. I think Stuart will be moving out of Fleur Gate  soon. Let Richard know if we can help your end by having more couch surfers this end. Charles moves in 15th Nov. to about 3rd December for 3 weeks when Michael goes home. 18th November for 3 weeks i think.  </p>

        <p>Loved the &#8216;brian splurge&#8217; and why not!! What a great project. Nothing like down time, great food and exercise to get the ideas going as you say. Cold +2 but clear blue sky after several days of rain. Treacle didn&#8217;t get two days of walks so she destroyed the corner of the conservatory and took all Dad&#8217;s newly planted aloe out of their pots in order to find a place to pee!!! When it&#8217;s wet she is reluctant to go out as you know!!.  Charles continues to do a sterling job in the pond but his boots have sprung a leek! He has taken to the boat determined to get to the middle but i said leave it, thought he might topple in and freeze!  Birds are eating our nuts furiously. Just found that my Car Tax disc has disappeared, probably stolen.</p>

        <p>THe land one on from our field just been sold for £33,000, Every one in the village is realing from the shock of it, more than twice the price paid for agricultural land. Dad did some great sleuthing to find out all the details,He is a master mind at this and no doubt he will tell you the full story. So is some one else plotting to build in due course?  Dad has sent a long letter to the Somerset DC to give them some more insight to how he thinks the rules are being manipulative. I think he has stumbled on to a &#8216;conspiracy&#8217;!!  So when Ed says isn&#8217;t it boring in the country&#8230;. far from it!  </p>

        <p>I&#8217;m back to calenders for next year, trying not to make any mistakes with bookings and wearing all my wonderful Marino gear. Getting all my old shoes mended and glued too as they are the ones that keep me warm. So thoughts now going in the direction of NZ and the sun!!  But i also like the cold!!! But not to sit around in. When it&#8217;s cold best to be active or snuggled against a log fire. That is a joy to come. </p>

        <p>Richard learning by the day more about the obstacles to getting in to a good university. Very  tough indeed but maybe this will all help in the long run, make him appreciate it. Harry Ingham has got a 1st at Durham in History. Dad rang Shirley to find out about the college set up at Durham as Richard will applying for a combined course there as well. He has also got his hockey gear and sounds very smart, birthday present. </p>

        <p>Do you mean the note we got from the tax man 7th October to say you were owed some money £863.20?. I fixed up an internet transfer for mine otherwise it sits with the Tax Man. But it took them several months to pay me as they were so behind. I&#8217;ll write them a letter as if from you and request they send it via the internet to your bank. Hope this sounds ok. </p>

        <p>Cattle got out on Breach Lane. Every one gets nervous at this as bit near the motor way. so all hands on deck to get them back. They get a bit resltess now as not so much grass left. Should have been taken off the land by now so hope farmer will now!  </p>

        <p>Hey ho, life goes on and Christmas gets nearer! Going to have proper Carols followed by tea at the nearby Frith Farm. So looks like village is forming a stronger community to fight off the &#8216;natives&#8217;! Spear headed by Dad no doubt! Especially as he has got the new plans for Somerset and the building programme is substantial, could effect us too, but still one hill in between. BUt all is crazy, like the Irish who now have a real problem with empty houses.  </p>

        <p>Granny and Grandpa want to visit us at the New Year. They&#8217;ve obviously forgotten how cold it can be. So all boilers will be stoked!.</p>

        <p>Enjoy Coffee bay and the missionary hut in the jungle sounds amazing, worth a visit as you say. Look forward to receiving the pics.
        Is leadthinking the email to get you on instead of maccman?</p>

        <p>Lots of love from us all, Mum and Dad</p>


      </div>
      <div class="timestamp">7:42 pm</div>
    </div>
  
    <div class="item">
      <%= image_tag "missing.png" %>
      <div class="arrow"></div>
      <div class="body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="timestamp">7:42 pm</div>
    </div>
  </div>
</div>